VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=pivustudentportal.co.za
VITE_FIREBASE_PROJECT_ID=pivu-holdings-pty-ltd
VITE_FIREBASE_STORAGE_BUCKET=pivu-holdings-pty-ltd.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=973431379610
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
